<template>
    <b-card class="col-12">
        <h2>5 Day Forecast for {{ location }}</h2>
        <ul class="forecast">
            <li v-for="day_data in data" v-bind:key="day_data">
                <h3>{{day_data.dt_txt}}</h3>
                <span><b>Temperature</b>: {{ day_data.main.temp }} °F</span>
                <span><b>Conditions</b>: {{ day_data.weather[0].main }}</span>
            </li>
        </ul>
    </b-card>
</template>

<script>
import axios from 'axios'

export default {
    name: 'LocalWeather',
    props: {
        location: String,
        zip: String,
        data: Array
    },
    watch: {
        zip: function( zip ) {
            this.getForecastData(zip)
        }
    },
    mounted() {
        this.getForecastData(this.zip)
    },
    methods: {
        getForecastData: function( zip ) {
            axios
                .get('//api.openweathermap.org/data/2.5/forecast?zip=' + zip + ',us&appid=154bd0955d83292edb4e3d6817c68ae2')
                .then(response => {
                    let today = new Date();
                    let dates = [];
                    //forecast since next day
                    today.setDate(today.getDate() + 1);
                    for(let i=0; i<5; i++) {
                      today.setDate(today.getDate() + 1);
                      dates.push( today.getFullYear() + '-' + ("0"+(today.getMonth()+1)).slice(-2) + "-" + ("0" + today.getDate()).slice(-2) + ' 00:00:00');
                    }
                    let all_data = response.data.list;
                    let five_days = all_data.filter((el) => {
                        return dates.includes(el.dt_txt)
                    });
                    this.data = five_days

                })
                .catch(err => (this.data = err));
        }
    }
}
</script>

<style scoped>
    .forecast {
        padding-left: 0px;
        list-style: none;
        display: flex;
    }

    .forecast li {
        padding: 10px;
        border: 1px solid rgba(0, 0, 0, 0.125);
        border-radius: 0.25rem;
        margin: 0 5px;
    }

    span {
        display: block;
        width: 100%;
    }
</style>
