<template>
  <div class="weather">
    <h1>Current Weather</h1>
    <div class="container">
        <div class="row">
            <WeatherCard location="Denver, CO" zip="80202" />
            <WeatherCard location="Anchorage, AK" zip="99501" />
        </div>
        <div class="row" v-if="selected_zip">
            <LocalWeather v-bind:zip="selected_zip" v-bind:location="selected_location"/>
        </div>
    </div>
  </div>
</template>

<script>
import WeatherCard from './WeatherCard';
import LocalWeather from './LocalWeather';

export default {
  name: 'Weather',
  props: {
      selected_location: [],
      selected_zip: []
  },
  components: {
      WeatherCard,
      LocalWeather
  },
  methods: {
      setLocation(zip, location) {
          this.selected_zip = zip;
          this.selected_location = location;
      }
  }
}
</script>

<style scoped>
h3 {
  margin: 40px 0 0;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
</style>
