<template>
    <b-card v-bind:title="location" class="col-6">
        <b-card-text>
            <span><b>Temperature</b>: {{ data.data.main.temp }} °F</span>
            <span><b>Conditions</b>: {{ data.data.weather[0].main }}</span>
        </b-card-text>
        <b-button href="#" v-on:click="setZip()" variant="primary">View more</b-button>
    </b-card>
</template>

<script>
import axios from 'axios';

export default {
    name: 'WeatherCard',
    props: {
        location: [],
        zip: [],
        data: []
    },
    mounted() {
        axios
            .get('//api.openweathermap.org/data/2.5/weather?zip=' + this.zip + ',us&appid=154bd0955d83292edb4e3d6817c68ae2')
            .then(response => (this.data = response))
            .catch(err => (alert(err)));
    },
    methods: {
        setZip: function() {
            this.$parent.setLocation(this.zip, this.location)
        }
    }
}
</script>

<style scoped>
    span {
        display: block;
        width: 100%;
    }
</style>
